.number {
}

.operator {
    
}

.number {
    height: 100%;
}

.num-row {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1a1a1a;
}

#display {
    font-size: 90px;
    text-align: right;
    background-color: greenyellow;
    border: 5px solid #004d00;
    border-radius: 15px;
    margin: 10px;
    flex: 1;
}

#keypad {
    flex: 4;
    display: flex;
}

#num-pad {
    display: flex;
    flex: 2;
    flex-direction: column;
}


#operator-pad {
    display: flex;
    flex: 1;
    flex-direction: column;
}

button {
    flex: 1;
    font-size: xx-large;
    border: 3px solid #404040;
    border-radius: 10px;
    /* background-color: #666666; */
}